<a href="https://colab.research.google.com/github/yeijSong/dataAnalysis/blob/main/unit03_%EC%84%9C%EC%9A%B8%EC%9D%B4_%EA%B0%80%EC%9E%A5_%EB%8D%94%EC%9B%A0%EB%8D%98_%EB%82%A0%EC%9D%80_%EC%96%B8%EC%A0%9C%EC%98%80%EC%9D%84%EA%B9%8C%3F.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

step 1) 데이터 불러 한 행씩 출력하기

In [ ]:
import csv

f=open('seoul.csv','r',encoding='cp949')

data=csv.reader(f)
header=next(data) # header(컬럼 인덱스) 추출

for row in data:
  print(row)
  # 최고기온 데이터만 추출 -> 결측치로 인한 오류 발생 -> 어떻게 처리할까?
  row[-1]=float(row[-1]) # 최고기온의 원래 인덱스는 4이지만 최고기온은 마지막 순서의 컬럼이므로 -1로 코딩

f.close()

step 2) 데이터 중 최고 기온을 실수로 변환하여 한 행씩 출력하기

In [ ]:
import csv

max_temp = -999 # 최고 기온 값을 저장할 변수 -> 누가 봐도 최고 기온이 아닌 값을 지정(명확한 결과를 위해 극적인 값으로 세팅)
max_date = '' # 최고 기온이 가장 높았던 날짜를 저장하는 변수

f=open('seoul.csv','r',encoding='cp949')

data=csv.reader(f)
header=next(data) # header(컬럼 인덱스) 추출

for row in data:
  

  # 최고 기온 데이터가 ''(결측치)인지 확인
  if row[-1] == '':
    row[-1] = -999 # -999를 넣어서 빈 문자열 ''이 있던 자리임을 표기
  
  row[-1]=float(row[-1])
  print(row[0], row[-1]) # 날짜 데이터와 최고 기온 데이터를 함께 출력

f.close()

step 3) 최고 기온과 최고 기온이었던 날짜

In [ ]:
import csv

max_temp = -999 # 최고 기온 값을 저장할 변수 -> 누가 봐도 최고 기온이 아닌 값을 지정(명확한 결과를 위해 극적인 값으로 세팅)
max_date = '' # 최고 기온이 가장 높았던 날짜를 저장하는 변수

f=open('seoul.csv','r',encoding='cp949')

data=csv.reader(f)
header=next(data) # header(컬럼 인덱스) 추출

for row in data:
  

  # 최고 기온 데이터가 ''(결측치)인지 확인
  if row[-1] == '':
    row[-1] = -999 # -999를 넣어서 빈 문자열 ''이 있던 자리임을 표기
  
  row[-1]=float(row[-1])
  
  # 최고 기온 정보를 저장

  if max_temp < row[-1]:
    max_date = row[0]
    max_temp = row[-1]

f.close()

print('기상 관측 이래 서울의 최고 기온이 가장 높았던 날은 %s로 %.1f도 였습니다'%(max_date,max_temp))

기상 관측 이래 서울의 최고 기온이 가장 높았던 날은 2018-08-01로 39.6도 였습니다

step 4) 최저 기온과 최저 기온이었던 날짜

In [ ]:
import csv

min_temp = 999 # 최저 기온 값을 저장할 변수 -> 누가 봐도 최저 기온이 아닌 값을 지정(명확한 결과를 위해 극적인 값으로 세팅)
min_date = '' # 최저 기온이 가장 낮았던 날짜를 저장하는 변수

f=open('seoul.csv','r',encoding='cp949')

data=csv.reader(f)
header=next(data) # header(컬럼 인덱스) 추출

for row in data:
  

  # 최저 기온 데이터가 ''(결측치)인지 확인
  if row[3] == '':
    row[3] = 999 # -999를 넣어서 빈 문자열 ''이 있던 자리임을 표기
  
  row[3]=float(row[3])
  
  # 최저 기온 정보를 저장

  if min_temp > row[3]:
    min_date = row[0]
    min_temp = row[3]

f.close()

print('기상 관측 이래 서울의 최저 기온이 가장 낮았던 날은 %s로 %.1f도 였습니다'%(min_date,min_temp))

기상 관측 이래 서울의 최저 기온이 가장 낮았던 날은 1927-12-31로 -23.1도 였습니다

기상 관측 이래, 서울의 평균 기온이 가장 높았던 날은 언제였고, 몇 도 였을까?<br>
-> 날짜, 평균 기온 데이터를 사용

In [ ]:
import csv

max_tempMean=-999
max_date=''

f=open('seoul.csv','r',encoding='cp949')
data=csv.reader(f)
header=next(data)

for row in data:

  if row[2] =='':
    row[2]=-999
  
  row[2]=float(row[2])

  if max_tempMean < row[2]:
    max_tempMean = row[2]
    max_date = row[0]

f.close()

print('기상 관측 이래 서울의 평균기온이 가장 높았던 날은 %s로 %.1f도 였습니다'%(max_date,max_tempMean))

기상 관측 이래 서울의 평균기온이 가장 높았던 날은 2018-08-02로 33.7도 였습니다

기상 관측 이래, 서울의 평균 기온이 가장 낮았던 날은 언제였고, 몇 도 였을까?<br>
-> 날짜, 평균 기온 데이터를 사용

In [ ]:
import csv

min_tempMean=999
min_date=''

f=open('seoul.csv','r',encoding='cp949')
data=csv.reader(f)
header=next(data)

for row in data:
  if row[2]=='':
    row[2]=999

  row[2]=float(row[2])

  if min_tempMean > row[2]:
    min_tempMean=row[2]
    min_date=row[0]

f.close()

print('기상 관측 이래 서울의 평균기온이 가장 낮았던 날은 %s로 %.1f도 였습니다'%(min_date,min_tempMean))

기상 관측 이래 서울의 평균기온이 가장 낮았던 날은 1915-01-13로 -19.2도 였습니다