<a href="https://colab.research.google.com/github/yeijSong/dataAnalysis/blob/main/unit02_%EC%84%9C%EC%9A%B8%EC%9D%98_%EA%B8%B0%EC%98%A8_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%B6%84%EC%84%9D%ED%95%98%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

seoul.csv 파일 읽어오기

In [ ]:
import csv

f = open('seoul.csv', 'r', encoding='cp949') # encoding 디폴트 값은 utf8
data=csv.reader(f, delimiter=',')
print(data)
f.close()

<_csv.reader object at 0x7fe0a8a6c9d0>

In [ ]:
import csv

f = open('seoul.csv', 'r', encoding='cp949') # encoding 디폴트 값은 utf8
data=csv.reader(f) # delimiter(구분자)의 디폴트는 ',(콤마)'이므로 생략가능
print(data)

# 구분자로 가장 많이 쓰이는 것은 ',(컴마)' -> '^(캐럿)' -> '|(or연산자 모양)'

# 데이터를 한 줄씩 출력
for row in data:
  print(row)

f.close()

data의 header저장하기

In [ ]:
import csv

f = open('seoul.csv', 'r', encoding='cp949') # encoding 디폴트 값은 utf8
data=csv.reader(f)
header=next(data) # next함수는 데이터를 한 줄 씩 읽어들인다. 그리고 커서를 다음으로 넘겨 줌
print(header)
f.close()

['날짜', '지점', '평균기온(℃)', '최저기온(℃)', '최고기온(℃)']

In [ ]:
import csv

f = open('seoul.csv', 'r', encoding='cp949') # encoding 디폴트 값은 utf8
data=csv.reader(f)
header=next(data) # next함수는 데이터를 한 줄 씩 읽어들인다. 그리고 커서를 다음으로 넘겨 줌
header1=next(data)
print(header)
print(header1)
f.close()

['날짜', '지점', '평균기온(℃)', '최저기온(℃)', '최고기온(℃)']
['1907-10-01', '108', '13.5', '7.9', '20.7']

In [ ]:
import csv

f = open('seoul.csv', 'r', encoding='cp949') # encoding 디폴트 값은 utf8
data=csv.reader(f)

print(next(data)) # 첫 번재 행을 읽은 후 다음 행으로 이동
print(next(data)) # 두 번째 행을 읽은 후 다음 행으로 이동
print(next(data)) # 세 번째 행을 읽은 후 다음 행으로 이동

f.close()

['날짜', '지점', '평균기온(℃)', '최저기온(℃)', '최고기온(℃)']
['1907-10-01', '108', '13.5', '7.9', '20.7']
['1907-10-02', '108', '16.2', '7.9', '22']

In [ ]:
import csv

f = open('seoul.csv', 'r', encoding='cp949') # encoding 디폴트 값은 utf8
data=csv.reader(f)

print(next(data)) # 첫 번재 행을 읽은 후 다음 행으로 이동
print(next(data)) # 두 번째 행을 읽은 후 다음 행으로 이동
print(next(data)) # 세 번째 행을 읽은 후 다음 행으로 이동

f.close() # 파일을 닫으면 그 동안의 정보가 리셋된다

import csv

f = open('seoul.csv', 'r', encoding='cp949') # encoding 디폴트 값은 utf8
data=csv.reader(f)
print(next(data)) # 따라서 파일을 닫고 다시 열면 리셋된다.

['날짜', '지점', '평균기온(℃)', '최저기온(℃)', '최고기온(℃)']
['1907-10-01', '108', '13.5', '7.9', '20.7']
['1907-10-02', '108', '16.2', '7.9', '22']
['날짜', '지점', '평균기온(℃)', '최저기온(℃)', '최고기온(℃)']

header를 제외한 데이터 한 행씩 출력하기

In [ ]:
import csv

f = open('seoul.csv', 'r', encoding='cp949') # 여기서 f는 파일 형태
data=csv.reader(f) # 이제 f는 읽어들일 수 있는 데이터로 저장되었음
header=next(data)

for row in data:
  print(row)

f.close()

### 기상 관측 이래, 서울의 최고 기온이 가장 높았던 날은 언제였고, 몇 도 였을까?<br>
-> 날짜, 최고 기온 데이터를 사용

기상 관측 이래, 서울의 평균 기온이 가장 높았던 날은 언제였고, 몇 도 였을까?<br>
-> 날짜, 평균 기온 데이터를 사용

기상 관측 이래, 서울의 최저 기온이 가장 낮았던 날은 언제였고, 몇 도 였을까?<br>
-> 날짜, 최저 기온 데이터를 사용

기상 관측 이래, 서울의 평균 기온이 가장 낮았던 날은 언제였고, 몇 도 였을까?<br>
-> 날짜, 평균 기온 데이터를 사용